body{
	background: url('imagens/fundo.png');
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center top;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 	
}


.container{
	width: 100%;
	position: relative;
	top: 70px;
	left: 50px
	background-color: #3a3a3a;
}
#titulo_jogo{
	font-size: 30px;
	color: #FFF;
	font-weight: 900;
	padding: 5px 0 15px 0;
}
.box-jogo{
	float:  left;
	width: 100%;
	height: auto;
	background: #FFF;
	border: 1px solid #A2A2A2;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 55px;
	margin-left: 100px;
}
#tabela-balao-estourado{
	width: 140px;
	height: 132px; 
}
#tabela-balao-estourado td{
	width: 100%;
	background: url('imagens/cronometro.png');
	text-align: center;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;

}
.cenario-jogo{
	float: right;
	/*width: 600px;*/
	 width: 80%
	/* background-repeat:no-repeat; */
	height: auto;
	background: url('imagens/cenario.png');
	background-position: bottom;
}
/* -------ESTILO DO CRONOMETRO -----*/
#cronometro{
	font-size: 30px;
	color: red;
}
#baloes_inteiros {
	font-size: 40px;
}
#baloes_estourados{
	font-size: 40px;
}
.footer{
	clear: both;
	margin-top: 80px;
	color: #FFF;
}


@media screen and (max-width:   767px){
	.box-jogo{
		width: 100%;
		height: 580px;
		padding: 20px 10px 0 0;
		margin-bottom: 20px;

	}
	.box-jogo #cronometro{
		font-size: 15px;
	}
	#tabela-balao-estourado{
		width: 100px;
		height: 100px;
		position: relative;
		left: 0;
	}
	#tabela-balao-estourado td{
	    background: url('imagens/cronometro.png');
	    text-align: center;
   }
   .cenario-jogo{
	float: right;
	width: 600px;
	height: 550px;
	background: url('imagens/cenario.png');
	background-position: bottom;
}
 .container{
	position: relative;
	top: 40px;
	left: 20px
	background-color: #3a3a3a;
}


}